<h1>Seja bem vindo</h1>

<h2><%= @name %></h2>

<h3>Aqui é outra forma de pegar a data -> Utilizando o helper l <%= l Time.now, format: :short %></h3>
<p>Idioma da aplicação: <strong><%= I18n.locale %></strong></p>
<h3>Seja bem vindo, hoje é dia <%= l Date.today %></h3>

<%# Usando um partial %>
<%= render "menu" %>

<p>Você está em ambiente de <strong><%= ambient_rails %></strong></p>