<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# Aqui é importante para dizer o asset específico do controller em questão, já que cada controller é um resource %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Cabeçalho</h1>
    <span>
      <%= link_to '🇧🇷', root_path(locale: "pt-BR")%>
    </span>
    <span>
      <%= link_to '🇺🇸', '/?locale=en'%>
    </span>
    <%= yield %>
    <%= link_to "HOME 🏠", root_path %>
  <p>Footer</p>

  <script>
    $.notify("Tudo ok...", "success");
  </script>
  </body>
</html>
